* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9fafb;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.App {
  width: 100%;
  max-width: 900px;
  background: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
}

input[type="file"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 2px dashed #007bff;
  border-radius: 10px;
  background-color: #f0f8ff;
  color: #007bff;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
}

input[type="file"]:hover {
  background-color: #e6f2ff;
}

input[type="file"]::file-selector-button {
  display: none;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

.records {
  margin: 20px 0;
}

.record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.record:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.record span {
  font-size: 1rem;
  color: #333;
}

button {
  background-color: #007bff;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination li:hover {
  background-color: #007bff;
  color: white;
}

.pagination .active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .record {
    flex-direction: column;
    align-items: flex-start;
  }

  button {
    margin-top: 10px;
    width: 100%;
  }
}
